body {
  font-family: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(78, 69, 75);
}

h1 {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;

}

h2 {
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: lighter;
}
h5 {
  margin-top: 0;
  padding: 0 10px 30px;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}
p {
  font-weight: lighter;
}
/* topnav styling starts */
.topnav {
  overflow: hidden;
  background-color: #ecdfdf;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #5f5f5f;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 45px;
  min-height: 45px;
}

.topnav a.icon {
  background: #ecdfdf;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddc9ce;
  color: rgb(109, 85, 98);
}

.topnav #myLinks form {
  padding: 14px 16px;
}
.topnav #myLinks form input {
  border-color: white;
  border-radius: 40px;
  border-style: none;
  padding: 3px 10px 3px 9px;
}
.topnav #myLinks form button {
  color: grey;
  background-color: transparent;
  margin-left: -36px;
  border-radius: 40px;
  border-color: transparent;
}
.active {
  background-color: #ecdfdf;
  color: white;
}

/* hero section styling starts */
.hero {
  width: 100%;
  padding: 20px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://img5.goodfon.ru/original/1440x900/2/69/nnnnn-bbbbbbb-vvvvv-cccccc-ft-dddddd-dsssssssssss.jpg);
  background-position: bottom;
  z-index: -1;
  overflow: hidden;
}

.hero-text h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: lighter;
  text-align: center;
}
.asside {
  margin: 20px 9px 170px 15px;
}
.asside-item {
  text-align: center;
  padding-top: 40px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  border-radius: 5px;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid #bbbbbb;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button1:hover {
  background-color: #ebe7e8;
  color: gray;
  z-index: 9;
}

/* hero1 section checkmark styling starts */
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-checkmark-circle {
  color: #606060;
  font-size: 53px;
  align-items: center;
}

/* hero2 section carousel styling starts */
.carousel {
  display: flex;
  justify-content: space-between;
}
.carousel .carousel_piece {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.carousel .carousel_piece .carousel_image {
  width: 100%;
  opacity: 0.8;
}
.carousel .carousel_piece .carousel_image:hover {
  opacity: 1.0;
}

/* hero3 section contact form styling starts */
.contact_us {
  display: flex;
  justify-content: center;
}
.contact_us .field {
  padding: 20px;
  text-align: start;
}
.contact_us .field label {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
}

.contact_us .field input {
  width: 100%;
}

/* hero4 section incons styling starts */

.icons {
  display: flex;
  justify-content: center;
  height: 120px;
  min-height: 120px;
}
.icons img {
  height: 60px;
  margin: 20px;
}

/* footer styling starts */

footer {
  background-color: #ecdfdf;
  padding: 20px 0;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

footer ul li {
  color: rgb(78, 69, 75);
  padding: 0 0 0 20px;
  font-weight: lighter;
}
footer p {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: lighter;
  color: rgb(78, 69, 75);
  text-align: center;
}

@media (min-width: 768px) {
  .asside {
    display: flex;
    flex-wrap: wrap;
  }
  .asside-item {
    flex: 1 0 50%;
  }
  .contact_us .field input {
    width: 500px;
  }
  .contact_us .field textarea {
    width: 500px;
}

@media (min-width: 1270px) {
  h {
    font-size: 48px;
  }

  p {
    text-align: left;
  }

  .asside {
    flex-wrap: nowrap;
  }

  .asside-item {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
  }

  .contact_us .field input {
    width: 500px;
  }

  .contact_us .field textarea {
    width: 500px;
  }
}
